<!Doctype html>
<html lang="cn">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="https://2v595i1604.zicp.vip/static/imgs/equip4.jpg">
        
        <!-- BEGIN: Vendor CSS-->
	    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.8.2/css/all.min.css">
	    <link rel="stylesheet" type="text/css" href="../static/css/index/vendors.min.css">
	    <!-- END: Vendor CSS-->

	    <!-- BEGIN: Page CSS-->
	    <link rel="stylesheet" type="text/css" href="../static/css/index/sweetalert2.min.css">
	    <!-- END: Page CSS-->
		<!-- BEGIN: Theme CSS-->
		<link rel="stylesheet" href="../static/css/index/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/index/animate.min.css">
		<link rel="stylesheet" href="../static/css/index/style.css">
		<link rel="stylesheet" href="../static/css/index/responsive.css">
		<!-- BEGIN: Theme CSS-->
		<title>设备信息化管理系统</title>
	</head>
	<body>
        <!-- <div class="preloader">
			<div class="spinner"></div>
		</div> -->
		<header id="header" class="headroom">
			<div class="startp-responsive-nav">
                <div class="container">
                    <div class="startp-responsive-menu">
                        <div class="logo">
                            <a href="/">
                                设备信息化管理系统
                            </a>
                        </div>
                    </div>
                </div>
            </div>
			<div class="startp-nav">
				<div class="container">
					<nav class="navbar navbar-expand-md navbar-light">
						<a class="navbar-brand" href="#">设备信息化管理系统</a>

						<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
							<ul class="navbar-nav nav ml-auto">
								<li class="nav-item"><a href="#featu" class="nav-link">特性</a></li>
								<li class="nav-item"><a href="#purchase" class="nav-link">价格</a></li>
								<li class="nav-item"><a href="#support" class="nav-link">支持</a></li>
							</ul>
						</div>

						<div class="others-option">
							<a href="/admin_register/user/admin" class="btn btn-light">注册</a>
							<a href="/admin_login/admin" class="btn btn-primary">登录</a>
						</div>
					</nav>
				</div> 
			</div>
		</header>
		<div class="main-banner">
			<div class="d-table">
				<div class="d-table-cell">
					<div class="container">
						<div class="row h-100 justify-content-center align-items-center">
							<div class="col-lg-5">
								<div class="hero-content">
									<h1>设备信息化管理系统</h1>
									<p>通过我们的网络访问内容提供商、公司网络和公共云服务</p>
									<a href="/admin_register/user/admin" class="btn btn-primary">开始使用</a>
                                    <a href="#" class="btn btn-light" target="_blank">
                                        <i class="fa fa-windows fa-lg"></i>   立即下载Windows客户端</a>
								</div>
							</div>

							<div class="col-lg-6 offset-lg-1">
								<div class="banner-image">
									<img src="../static/imgs/index/man.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="man">
									<img src="../static/imgs/index/code.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="code">
									<img src="../static/imgs/index/carpet.png" class="wow fadeInLeft" data-wow-delay="0.6s" alt="carpet">
									<img src="../static/imgs/index/bin.png" class="wow zoomIn" data-wow-delay="0.6s" alt="bin">
									<img src="../static/imgs/index/book.png" class="wow bounceIn" data-wow-delay="0.6s" alt="book">
									<img src="../static/imgs/index/dekstop.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="dekstop">
									<img src="../static/imgs/index/dot.png" class="wow zoomIn" data-wow-delay="0.6s" alt="dot">
									<img src="../static/imgs/index/flower-top-big.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="flower-top-big">
									<img src="../static/imgs/index/flower-top.png" class="wow rotateIn" data-wow-delay="0.6s" alt="flower-top">
									<img src="../static/imgs/index/keyboard.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="keyboard">
									<img src="../static/imgs/index/pen.png" class="wow zoomIn" data-wow-delay="0.6s" alt="pen">
									<img src="../static/imgs/index/tea-cup.png" class="wow fadeInLeft" data-wow-delay="0.6s" alt="tea-cup">
									<img src="../static/imgs/index/headphone.png" class="wow rollIn" data-wow-delay="0.6s" alt="headphone">
									<img src="../static/imgs/index/main-pic.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="main-pic">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="shape1"><img src="../static/imgs/index/shape1.png" alt="shape"></div>
			<div class="shape2 rotateme"><img src="../static/imgs/index/shape2.svg" alt="shape"></div>
			<div class="shape3"><img src="../static/imgs/index/shape3.svg" alt="shape"></div>
			<div class="shape4"><img src="../static/imgs/index/shape4.svg" alt="shape"></div>
			<div class="shape5"><img src="../static/imgs/index/shape5.png" alt="shape"></div>
			<div class="shape6 rotateme"><img src="../static/imgs/index/shape4.svg" alt="shape"></div>
			<div class="shape7"><img src="../static/imgs/index/shape4.svg" alt="shape"></div>
			<div class="shape8 rotateme"><img src="../static/imgs/index/shape2.svg" alt="shape"></div>
		</div>
		<section class="boxes-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-box">
							<div class="icon">
								<i data-feather="server"></i>
							</div>
							<h3>服务</h3>
							<p>致力于为用户提供高速稳定的高性价比网络中继服务</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-box bg-f78acb">
							<div class="icon">
								<i data-feather="code"></i>
							</div>
							<h3>便携设置</h3>
							<p>借助第三方客户端，可在手机、电脑、路由器、游戏机、电视盒子中使用</p>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-box bg-eb6b3d">
							<div class="icon">
								<i data-feather="git-branch"></i>
							</div>
							<h3>教程</h3>
							<p>我们用心设计教程，详细解说每一步配置，即使是零基础小白用户也可以无忧使用只需下载软件、复制粘贴，即可享用最优的定制服务</p>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-box bg-c679e3">
							<div class="icon">
								<i data-feather="users"></i>
							</div>
							<h3>稳定</h3>
							<p>我们将严格遵守用户隐私保护法，在传输过程中使用最强的加密方式，致力于保护每一位用户的隐私，稳定运营是我们团队一直以来的追求</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="services-area ptb-80 bg-f7fafd">
			<div class="container">
				<div class="row h-100 justify-content-center align-items-center" id="features">
					<div class="col-lg-6 col-md-12 services-content">
						<div class="section-title">
							<h2>为你 量身定制 的服务</h2>
							<div class="bar"></div>
							<p>可靠的基础设施，并能提供您喜爱的诸多功能</p>
						</div>

						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="box">
									<i data-feather="database"></i> 高速稳定
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="box">
									<i data-feather="globe"></i> 便携设置
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="box">
									<i data-feather="file"></i> 节省成本
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="box">
									<i data-feather="trending-up"></i> 全球互联
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="box">
									<i data-feather="server"></i> 运营商友好
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="box">
									<i data-feather="monitor"></i> 多平台兼容
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-12 services-right-image">
						<img src="../static/imgs/index/book-self.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="book-self">
						<img src="../static/imgs/index/box.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="box">
						<img src="../static/imgs/index/chair.png" class="wow fadeInLeft" data-wow-delay="0.6s" alt="chair">
						<img src="../static/imgs/index/cloud.png" class="wow zoomIn" data-wow-delay="0.6s" alt="cloud">
						<img src="../static/imgs/index/cup.png" class="wow bounceIn" data-wow-delay="0.6s" alt="cup">
						<img src="../static/imgs/index/flower-top.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="flower">
						<img src="../static/imgs/index/head-phone.png" class="wow zoomIn" data-wow-delay="0.6s" alt="head-phone">
						<img src="../static/imgs/index/monitor.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="monitor">
						<img src="../static/imgs/index/mug.png" class="wow rotateIn" data-wow-delay="0.6s" alt="mug">
						<img src="../static/imgs/index/tissue.png" class="wow zoomIn" data-wow-delay="0.6s" alt="tissue">
						<img src="../static/imgs/index/water-bottle.png" class="wow zoomIn" data-wow-delay="0.6s" alt="water-bottle">
						<img src="../static/imgs/index/wifi.png" class="wow fadeInLeft" data-wow-delay="0.6s" alt="wifi">
						<img src="../static/imgs/index/cercle-shape.png" class="bg-image rotateme" alt="shape">
						
						<img src="../static/imgs/index/main-pic.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="main-pic">
					</div>
				</div>
			</div>
		</section>
		<section class="ready-to-talk">
			<div class="container">
				<h3>如何使用?</h3>
				<p>点击下方注册按钮，立即开始畅游网络</p>
				<a href="/admin_register/user/admin" class="btn btn-primary">立即注册</a>
			</div>
		</section>		
		<div class="go-top"><i data-feather="arrow-up"></i></div>
		
		<!-- BEGIN: Theme JS-->
		<script src="../static/js/index/jquery.min.js"></script>
		<script src="../static/js/index/bootstrap.min.js"></script>
		<script src="../static/js/index/meanmenu.min.js"></script>
		<script src="../static/js/index/wow.min.js"></script>
		<script src="../static/js/index/magnific-popup.min.js"></script>
        <script src="../static/js/index/slick.min.js"></script>
        <script src="../static/js/index/headroom.js"></script>
        <script src="../static/js/index/owl.carousel.min.js"></script>
		<script src="../static/js/index/feather.min.js"></script>
        <script src="../static/js/index/main.js"></script>
        <script src="{{url_for('static', filename='lib/layui/layui.js')}}"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="../static/js/Front/index.js"></script>
		<!-- END: Theme JS-->
		<script>
                        function getQueryVariable(variable) {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i = 0; i < vars.length; i++) {
                    var pair = vars[i].split("=");
                    if (pair[0] == variable) {
                        return pair[1];
                    }
                }
                return "";
            }

                        function setCookie(cname, cvalue, exdays) {
                var d = new Date();
                d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                var expires = "expires=" + d.toGMTString();
                document.cookie = cname + "=" + cvalue + "; " + expires;
            }

                        function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i].trim();
                    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                }
                return "";
            }

                        if (getQueryVariable('code') != '') {
                setCookie('code', getQueryVariable('code'), 30);
                window.location.href = '/';
            }

         
                        if ((getCookie('code')) != '') {
                $("#code").val(getCookie('code'));
            }
          
        </script>
	</body>
</html>

