<!DOCTYPE html>
<html lang="en" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>{% block title %}{% endblock %}-后台管理</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xadmin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme4.css') }}">
    <script src="{{url_for('static', filename='js/Admin/clickChebox.js')}}"></script>
	<script src="{{url_for('static', filename='js/Front/exit.js')}}"></script>
    <script src="{{url_for('static', filename='lib/layui/layui.js')}}"></script>
    <script src="{{url_for('static', filename='js/Common/xadmin.js')}}"></script>
    <script src="{{url_for('static', filename='js/Admin/separatePage.js')}}"></script>
    <script src="{{url_for('static', filename='js/Admin/xlsx.full.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/Admin/exportInfor.js')}}"></script>
</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
            <a href="javascript:;">首页</a>
            <a href="javascript:;">信息管理</a>
            <a><cite>信息导出页面</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                    
                        <div class="layui-form layui-inline  layui-form-pane ">
                            <label class="layui-form-label">查找类型</label>
                            <div class="layui-input-inline  ">
                                <select name="select_type">
                                    <option id="setli" onclick="dropdownClick('数据管理')" value="数据管理">数据管理</option>
                                    <option onclick="dropdownClick('用户管理')" value="用户管理">用户管理</option>
                                    <option onclick="dropdownClick('日志管理')" value="日志管理">日志管理</option>
                                </select>
                            </div>
                        
                            <div class="layui-inline layui-show-xs-block">
                                <input class="layui-input"  placeholder="按时间查找" id='time_collection'>
                            </div>
                        </div>
                        

                    </div>
                    
                    <div class="layui-card-header">
                                    
                        <button onclick="reset()" type="button" class="layui-btn" id="reset"><i
                            class="layui-icon">&#xe9aa;</i>重置</button>
                        <button id="search" onclick="inforExport()" class="layui-btn"
                        type="button"><i class="layui-icon">&#xe67d;</i>导出</button>
                        <button class="layui-btn" id="checkonepages" onclick="clickOnePage()">选择单页</button>
                            
                    </div>


                    <div class="layui-card-body">
                        <table class="layui-table">
                            <thead id="header">
                               
                            </thead>
                        
                            <tbody id="mode">
                            </tbody>
                        </table>
                    </div>
                    <div class="layui-card-body" align="center">
                        <div class="layui-inline">
                        <div class="page">
                        
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
