<!DOCTYPE html>
<html lang="en" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>设备信息化后台管理系统</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xadmin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme4.css') }}">
    <script src="{{url_for('static', filename='js/Admin/clickChebox.js')}}"></script>
	<script src="{{url_for('static', filename='js/Front/exit.js')}}"></script>
    <script src="{{url_for('static', filename='lib/layui/layui.js')}}"></script>
    <script src="{{url_for('static', filename='js/Common/xadmin.js')}}"></script>
	<script src="{{url_for('static', filename='js/Admin/separatePage.js')}}"></script>
	<script src="{{url_for('static', filename='js/Admin/equipManage/unreadData.js')}}"></script>

</head>
<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
			<a href="javascript:;">首页</a>
			<a href="/equip_ment/">设备页面</a>
			<a href="javascript:;"><cite>实验数据页面</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                    
						<table class="layui-table">
							<thead id="header">
								<tr style="background-color:#e2e2e2">
									<th style="border-color: rgba(255, 255, 255, 0.933);">id </th>
									<th style="border-color: rgba(255, 255, 255, 0.933);">时间</th>
									<th style="border-color: rgba(255, 255, 255, 0.933);">数量</th>
									<th style="border-color: rgba(255, 255, 255, 0.933);">------（未读）</th>
								</tr> 
							</thead>
						
							<tbody id="unknow_items">
											
							</tbody>
						</table>

					</div>
					<div class="layui-card-body ">
						<table class="layui-table">
							<thead>
								<tr style="background-color:#e2e2e2">
									<th style="border-color: rgba(255, 255, 255, 0.933);">id </th>
									<th style="border-color: rgba(255, 255, 255, 0.933);">时间</th>
									<th style="border-color: rgba(255, 255, 255, 0.933);">数量</th>
									<th style="border-color: rgba(255, 255, 255, 0.933);">------（已读）</th>
								</tr> 
							</thead>
						
							<tbody id="is_items">
											
							</tbody>
						</table>
					</div>
                    

                </div>
            </div>
        </div>
    </div>
</body>
</html>


